:root {
  --primary-color: #173b45;
  --secondary-color: #ff8225;
  --secondary-color-alpha: #b43f3f;
  --dark-color: #173b45;
  --white-color: #eeeeee;
}

body {
  color: var(--dark-color);
  padding-top: 90px;
  padding-bottom: 80px;
  background-color: var(--white-color);
}

nav {
  background-color: var(--dark-color);
}

footer {
  background-color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

a {
  cursor: pointer;
}

.accordion-button {
  background-color: white;
  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--dark-color);
}

.accordion-button:not(.collapsed) {
  background-color: var(--secondary-color);
  color: var(--dark-color);
}

.accordion-button:hover {
  background-color: goldenrod;
}

.accordion-button:focus,
.accordion-button:active {
  outline: none;
  box-shadow: 0 0 0 3px var(--secondary-color-alpha);
}

.even {
  font-weight: bolder;
}

.odd {
  font-weight: 100;
}

main > .container {
  padding: 60px 15px 0;
}

#content {
  min-height: 90vh;
}

footer {
  padding-right: 1rem;
}

.bsicon {
  color: purple;
}

.jsicon {
  color: rgb(226, 211, 4);
}

.html5icon {
  color: orangered;
}

.css3icon {
  color: rgb(11, 82, 214);
}

.checklist > li i {
  color: var(--secondary-color);
}

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

#encore-header {
  font-size: 3rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  #encore-header {
    font-size: 4rem;
  }
  .logo-div {
    margin-top: 20px;
  }
}

.devicon-linkedin-plain,
.devicon-github-original {
  font-size: 2rem;
  transition: 0.3s ease-in-out;
}

.devicon-linkedin-plain:hover,
.devicon-github-original:hover {
  color: gray;
}

.link-anchor {
  color: white;
  text-decoration: none;
}

.checkmark-list {
  list-style-type: none;
  padding: 0;
}

.checkmark-list li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.checkmark-list li::before {
  content: "\2713";
  color: #7cfc00;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 30px;
  font-weight: bold;
}

.app-logo {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: auto;
}
