
body {
    padding-top: 90px;
    padding-bottom: 80px;
}

#encore-header {
    font-size: 3rem;
    font-weight: bold;
}

@media (min-width:768px)
{
    #encore-header {
        font-size: 4rem;
    }
    .logo-div {
        margin-top: 20px;
    }
}